<div class="container">
  <h3 class="text-primary">Mantenimiento de Vehiculos</h3>

  <table class="table table-striped table-hover table-sm">
    <thead>
      <tr>
        <th scope="col">Placa</th>
        <th scope="col">Color</th>
        <th scope="col">Marca</th>
        <th scope="col">Modelo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let v of listado_vehiculos">
        <td>{{v.placa}}</td>
        <td>{{v.color}}</td>
        <td>{{v.marca}}</td>
        <td>{{v.modelo}}</td>
        <td class="btn btn-primary btn-sm" 
            data-toggle="modal" 
            data-target="#EditModal"
            (click)="getDatosVehiculosForm(v)"> Modificar
        </td>
        <td>
          <button class="btn btn-danger btn-sm"
                  (click)="delete_vehiculo(v.placa)"
                  >
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Modal -->
  <div class="modal fade" id="EditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="text-info" id="tituloModalLabel">Modificar Vehiculo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <label>Placa:</label>
            <input type="text" 
                   class="form-control" 
                   [(ngModel)]="Vehiculo.placa" 
                   [ngModelOptions]="{standalone:true}"
                   readonly="true"
            >
        
            <label>Color:</label>
            <input type="text" class="form-control" [(ngModel)]="Vehiculo.color" [ngModelOptions]="{standalone:true}">
        
            <label>Marca:</label>
            <input type="text" class="form-control" [(ngModel)]="Vehiculo.marca" [ngModelOptions]="{standalone:true}">
        
            <label>Modelo:</label>
            <input type="text" class="form-control" [(ngModel)]="Vehiculo.modelo" [ngModelOptions]="{standalone:true}">
              
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="update_vehiculo()">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  Agregar un nuevo vehiculo
  
  <form ngNativeValidate #form>
    <label>Placa:</label>
    <input type="text" 
           class="form-control" 
           placeholder="Ej. PAH1201"
           pattern = "^[a-zA-Z]{3}[0-9]{4}"
           [(ngModel)]="Vehiculo.placa" 
           maxlength="7"
           minlength="7"
           required="true"
           [ngModelOptions]="{standalone:true}">

    <label>Color:</label>
    <input type="text" 
    class="form-control"
    pattern="^[a-zA-Z]+" 
    maxlength="45"
    required="true"
    [(ngModel)]="Vehiculo.color" 
    [ngModelOptions]="{standalone:true}">

    <label>Marca:</label>
    <input type="text" 
           class="form-control" 
           pattern="^[a-zA-Z]+" 
           maxlength="45"
           required="true"
           [(ngModel)]="Vehiculo.marca" 
           [ngModelOptions]="{standalone:true}">

    <label>Modelo:</label>
    <input type="text" 
    class="form-control" 
    maxlength="45"
    required="true"
    [(ngModel)]="Vehiculo.modelo" 
    [ngModelOptions]="{standalone:true}">

    <button class="btn btn-primary" 
            (click)="form.checkValidity() ? insert_vehiculo(): null">
      Guardar
    </button>

  </form>


</div>